// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #41B883
$secondary = #26A69A
$accent    = #9C27B0


$dark      = #35495E

$positive  = #21BA45
$negative  = #B51807
$info      = #31CCEC
$warning   = #C10015

@import '~quasar-variables-styl'
